h1 {
    color: blue;
}

h1 + .special {
    color: red;
    font-weight: bold;   
}

h2 {
    background-color: royalblue;
    padding: 1%;
}

/* nav layout */

nav {
    height: 50px;
    display: flex;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    text-align: center;
}

/* main layout */


/* sidebar layout */

aside {
    flex: 1;

}