/* h1 {
    color: blue;
}

h1 + .special {
    color: red;
    font-weight: bold;   
}

h2 {
    background-color: royalblue;
    padding: 1%;
} */

/* nav layout */

.jumbotron-fluid{
    background-color: crimson;
}

h1 {
    color: gold;
}

.special {
    color: gold;
}

.main {
    background-color: indigo;
    color: gold;
}

nav {
    height: 50px;
    flex: 100%;
    display: flex;
    padding-top: 0%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

footer {
    height: 75px;
    flex: 100%;
    display: flex;
    background: silver;
}

footer ul {
    padding: 1;
    list-style-type: none;
    flex: 2;
    display: flex;
}

footer li {
    display: inline;
    text-align: center;
    flex: 1;
}

.btn {
    color: gold;
}



/* main layout */

/* main {
    display: flex;
}

main {
    flex: 2;
}

aside {
    flex: 1;
    margin-left: 15px;
    padding: 2%;
}

aside a {
    display: block;
    float: left;
    width: 52%;
}

aside img {
    max-width: 100%;
} */